.footer {
    background-color: white;
    border-top: solid 1px rgba(0, 0, 0, 0.692);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 0px;
    display: flex;
    height: 110px;
    justify-content: space-between;
    position: fixed;
    width: 600px;
    z-index: 90;
}

.footer .left, .footer .right {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 240px;
}