.main_button_container {
    border: none;
}

.main_button {
    align-items: center;
    background-color: var(--c1);
    border: none;
    border-radius: 100%;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.6);
    bottom: 40px;
    display: flex;
    left: 50%;
    position: absolute;
    transition: all 150ms ease-in;
    transform: translate(-50%, 0%);
    height: 100px;
    justify-content: center;
    width: 100px;
    z-index: 100;
}

.main_button.open img {
    transform: rotate(45deg);
}

.main_button:hover {
    cursor: pointer;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.6);
}

.main_button img {
    height: 90%;
    transition: all 150ms ease-in;
    width: 90%;
}


.main_button_container .action_buttons {
    display: flex;
    bottom: 40px;
    left: 50%;
    position: fixed;
    height: fit-content;
    position: fixed;
    transform: translate(-50%, 0%);
    transition: all 150ms ease-in;
    visibility: hidden;
}


.main_button_container .action_buttons.visible {
    visibility: visible;
    opacity: 1;
}

.main_button_container .action_buttons.hidden {
    visibility: hidden;
    opacity: 0;
} 

.action_buttons .link {
    align-items: center;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.8);
    display: flex;
    position: absolute;
    height: 80px;
    justify-content: center;
    width: 80px;
}

.action_buttons .link img {
    height: 60%;
    width: 60%;
}

.action_buttons .link:first-child {
    transform: translate(-150px, -200px);
}

.action_buttons .link:first-child::after {
    color: white;
    content: 'Entradas';
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 3px 6px black;
    transform: translate(0px, 55px);
}

.action_buttons .link:nth-child(2) {
    transform: translate(75px, -200px);
}

.action_buttons .link:nth-child(2)::after {
    color: white;
    content: 'Saídas';
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 3px 6px black;
    transform: translate(0px, 55px);
}

.action_buttons .link:nth-child(2) img{
    transform: rotate(90deg);
}

.action_buttons .link:last-child {
    transform: translate(-40px, -300px);
}

.action_buttons .link:last-child::after {
    color: white;
    content: 'Transferências';
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 3px 6px black;
    transform: translate(0px, 55px);
}

@media (max-width: 720px) {
    .main_button {
        width: 60px;
        height: 60px;
        transform: translate(-50%, -70%);
    }

    .action_buttons .link {
        width: 60px;
        height: 60px;
    }

    .action_buttons .link:nth-child(2) {
        transform: translate(95px, -200px);
    }
    
    .action_buttons .link:last-child {
        transform: translate(-25px, -300px);
    }
}